.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(10px); /* efek blur */
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparan gelap */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.dialog-drawer {
  backdrop-filter: blur(8px); /* Ini bikin background blur */
  background-color: rgba(0, 0, 0, 0.2); /* semi-transparan gelap */
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

.dialog-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.dialog-content {
  width: 90%;
  max-width: 600px;
  position: relative;
}
